@font-face {
    font-family: "typo";
    src: url(./asset/typo/ClashDisplay-Regular.otf);
}

@font-face {
    font-family: "typo2";
    src: url(./asset/typo/Benzin\ Regular.ttf);
}

@font-face {
    font-family: "typo3";
    src: url(./asset/typo/BlackMango-Medium.ttf);
}

a { text-decoration: none; color: black;}

body{font-family: "typo"; color: black;}

.left{font-family: "typo2"; }

.slide{font-family: "typo";}