
@keyframes fadeIn {
    0% {

                transform: translateY(100%);
    }

    100% {

                transform: translateY(0%);
    }
}



img {
    width: 4em;
    opacity: 0.9;

    transition: transform 2s;

    cursor: pointer;
}

img:hover {
            transform: rotate(360deg) scale(1.12);
}

ul {
    padding: 0;
    list-style: none;
    margin: 0 1.5em;
    width: 35vw;
    

    display: flex;
    justify-content: space-between;
    

    opacity: 0.95;
    font-size: 1.1em;
}
li {
    transition: transform 1.2s cubic-bezier(0.23, 1.82, 0.42, 1.19);
    cursor: pointer;
}
li:hover {
            transform: scale(1.07);
            text-decoration: 0.5px underline;
    text-underline-offset: 3px;
}

header {
    margin-bottom: 7.5vh;

    display: flex;
            align-items: center;
            justify-content: space-between;
}

.left {
    height: 60vh;
    
    

    display: flex;

            align-items: center;

            justify-content: start;

    font-size: 2.5em;
    letter-spacing: 6px;
    line-height: 1;
}

.encre {
    display: block;
    overflow: hidden;
}

.slide {
    
    font-weight: light;
    overflow: hidden;
    opacity: 0.85;

    letter-spacing: normal;

            transform: translateY(100%);
    display: block;

            animation: fadeIn 2s forwards ease;
}

.right {
    height: 60vh;
    display: flex;

            flex-direction: column;

            align-items: center;
            justify-content: center;


}

.item {
            flex: 1;
    width: 90%;
    border-radius: 20px;
    margin: 10px auto;
    cursor: pointer;

    background-size: cover;
    background-position: center;

    transition: flex 1s ease;

    overflow: hidden;
    position: relative;
}

.item::before {
    content: " ";
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
    inset: 0;
    position: absolute;
}

.item:first-child {

            flex: 2;
        flex-shrink: 0;
}

.item:hover {
            flex: 4;
}
